:root{
    --col1:orange;
    --col2:rgb(29, 252, 29);
    --col3:cyan;
    --col4:pink;
    --col5:grey;
    --col6:rgb(255, 215, 0,0.5);
}
*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.header{
    background-color: var(--col1);
    display:flex;
    justify-content: space-between;
    padding:20px 25px;
    border:2px solid var(--col6);
    box-shadow: 2px 2px 5px var(--col5);
    position: sticky;
    top:0;
    align-items: center;
    z-index:2;
    opacity: 0.6;
    
}
.body{
    height: 1800px;
    width: 100%;
    
}

.logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:24pt;
    font-weight: bold;
    color:var(--col3);
    text-shadow: 2px 2px 1px var(--col5);

}


.nav span{
    margin-right: 15px;
    font-size:14pt;

}
.home,.nav span:hover{
    color:var(--col3);
    text-shadow:2px 2px 1px var(--col5);
    border-bottom: 2px solid var(--col2);
    padding-bottom: 5px;
    
}
.cover{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.cover img{
    width: 49%;
    border:3px solid white;
    box-shadow: 2px 3px 5px greenyellow;
    transition-duration: 1s;
}
.cover img:hover{
    transform:scale(1.05);
}
.nav-section{
    display:grid;
    grid-template-columns: 20% 60% 20%;
}
.product-list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap:10px;
}
.product img{
    width: 100%;
    border: 3px solid white;
    box-shadow:2px 3px 5px solid greenyellow ;
}
.product{
    text-align: center;
    transition-duration: 1s;
}
.product:hover{
    transform:scale(1.05);
    box-shadow:2px 3px 5px solid rgb(133, 189, 48) ;
    
}
.product .product-name,.product .product-rate{
    color:gold;
    font-weight: bold;
}
.product .product-price{
    color: red;
    font-weight: bold;
}

.panel-left ul li{
    list-style: none;
    padding:10px 0;
    font-weight: bold;
    font-size: 13pt;

}
.panel-left >ul>li{
    border-bottom: 3px solid palevioletred;
    margin-right:15px;
    

}
.panel-left>ul>ul>li{
    color:rgb(116, 76, 27)

}
.panel-left>ul>ul>li:hover{
    color:darkorange;
    transform: scale(1.1);
    transition-duration: 1s;
    
}
.panel-right img{
    width:100%;
}
.panel-right h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12pt;
    text-align: center;
    background-color: rgb(235, 100, 226);
    margin: 0;
    padding-top:10px;
    padding-left: 10px;
    text-shadow: 2px 2px grey;
    
    
    transition-duration: 3s;
}
.panel-right h2:hover{
    background-image: linear-gradient(to left, rgb(195, 21, 50), rgb(244, 136, 246));
}
.footerb{
    text-align: center;
    background-image: linear-gradient(to left, rgb(195, 21, 50), rgb(244, 136, 246));
    padding:15px 0;
    font-size:16pt;
    font-weight: bold;
    
    text-shadow: 2px 2px grey;
    border:2px solid cyan;
    box-shadow:2px 2px grey;
    border-radius: 20px;
    color:white;
}
.footer{
    margin-top: 560px;
}